<div class="col-sm-12">

    <p *ngIf="!filteredResult"><em>Loading...</em></p>

    <div class="col-sm-12">
        <h1>Select a letter...</h1>
        <div class="input-group centered">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" aria-label="ALL" (click)="RetrieveData('')">
                    *
                </button>
                <button type="button" class="btn btn-default" aria-label="A" (click)="RetrieveData('a')">
                    A
                </button>
                <button type="button" class="btn btn-default" aria-label="B" (click)="RetrieveData('b')">
                    B
                </button>
                <button type="button" class="btn btn-default" aria-label="C" (click)="RetrieveData('c')">
                    C
                </button>
                <button type="button" class="btn btn-default" aria-label="D" (click)="RetrieveData('d')">
                    D
                </button>
                <button type="button" class="btn btn-default" aria-label="E" (click)="RetrieveData('e')">
                    E
                </button>
                <button type="button" class="btn btn-default" aria-label="F" (click)="RetrieveData('f')">
                    F
                </button>
                <button type="button" class="btn btn-default" aria-label="G" (click)="RetrieveData('g')">
                    G
                </button>
                <button type="button" class="btn btn-default" aria-label="H" (click)="RetrieveData('h')">
                    H
                </button>
                <button type="button" class="btn btn-default" aria-label="I" (click)="RetrieveData('i')">
                    I
                </button>
                <button type="button" class="btn btn-default" aria-label="J" (click)="RetrieveData('j')">
                    J
                </button>
                <button type="button" class="btn btn-default" aria-label="K" (click)="RetrieveData('k')">
                    K
                </button>
                <button type="button" class="btn btn-default" aria-label="L" (click)="RetrieveData('l')">
                    L
                </button>
                <button type="button" class="btn btn-default" aria-label="M" (click)="RetrieveData('m')">
                    M
                </button>
                <button type="button" class="btn btn-default" aria-label="N" (click)="RetrieveData('n')">
                    N
                </button>
                <button type="button" class="btn btn-default" aria-label="O" (click)="RetrieveData('o')">
                    O
                </button>
                <button type="button" class="btn btn-default" aria-label="P" (click)="RetrieveData('p')">
                    P
                </button>
                <button type="button" class="btn btn-default" aria-label="Q" (click)="RetrieveData('q')">
                    Q
                </button>
                <button type="button" class="btn btn-default" aria-label="R" (click)="RetrieveData('r')">
                    R
                </button>
                <button type="button" class="btn btn-default" aria-label="S" (click)="RetrieveData('s')">
                    S
                </button>
                <button type="button" class="btn btn-default" aria-label="T" (click)="RetrieveData('t')">
                    T
                </button>
                <button type="button" class="btn btn-default" aria-label="U" (click)="RetrieveData('u')">
                    U
                </button>
                <button type="button" class="btn btn-default" aria-label="V" (click)="RetrieveData('v')">
                    V
                </button>
                <button type="button" class="btn btn-default" aria-label="W" (click)="RetrieveData('w')">
                    W
                </button>
                <button type="button" class="btn btn-default" aria-label="X" (click)="RetrieveData('x')">
                    X
                </button>
                <button type="button" class="btn btn-default" aria-label="Y" (click)="RetrieveData('y')">
                    Y
                </button>
                <button type="button" class="btn btn-default" aria-label="Z" (click)="RetrieveData('z')">
                    Z
                </button>

                <!-- search functionality-->
                <button class="btn btn-default">
                    <span class='glyphicon glyphicon-triangle-right'></span>
                </button>
                
            </div>

            <input class="form-control" [(ngModel)]="searchText" placeholder="Search...">

        </div>


        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Word</th>
                    <th>Frequency</th>
                </tr>
            </thead>
            <tr *ngFor="let item of filteredResult">
                <td>{{item.word}}</td>
                <td>{{item.count}}</td>
            </tr>
        </table>
    </div>
</div>

