<div class="col-sm-12 centered" style="width: 70% !important;">
    <h1>Trackhouse API</h1>
    <p>All API access is over HTTPS, and accessed from <code>https://trackhouse.com</code> All data is sent and receive as JSON.</p>
    <br />
    <h2>Album</h2>
    <p><code>GET /album</code></p>
    <br />
    <h2>Song</h2>
    <p><code>GET /album/song</code></p>

    <!--<p>Current count: <strong>{{ currentCount }}</strong></p>

    <button (click)="incrementCounter()">Increment</button>-->
</div>







