<div class="col-sm-12 centered" style="width: 70% !important;">
    <h1>Trackhouse API</h1>
    <p>All API access is over HTTPS, and accessed from <code>https://trackhouse.com</code> All data is sent and receive as JSON.</p>
    <br />
    <h2>Get All Albums</h2>
    <p>This will return all albums</p>
    <p><code>GET /album/all</code></p>
    <br />
    <h2>Get Album</h2>
    <p>This will return a specified album</p>
    <p><code>GET /album/all</code></p>
    <br />
    <h2>Get Song</h2>
    <p>This will return a specified song</p>
    <p><code>GET /album/song/name</code></p>

    <!--<p>Current count: <strong>{{ currentCount }}</strong></p>

    <button (click)="incrementCounter()">Increment</button>-->
</div>







