#nav-fix {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

